.prefooter-slider
    .container
        .slider-menu
            .item
                .mask-holder
                    img(src="assets/images/image-recept1.jpg", alt="#")
                    span.title-bottom Duck Salad with lemon and knoblauch
            .item
                .mask-holder
                    img(src="assets/images/image-recept1.jpg", alt="#")
                    span.title-bottom Duck Salad with awesome pasta
            .item
                .mask-holder
                    img(src="assets/images/image-recept1.jpg", alt="#")
                    span.title-bottom Greek whole chicken
        .button-row
            a(href="#").bnt-raggy Show more »



