.prefooter-slider
    .container
        .divider
            img(src="../assets/images/divider.png", alt="divider")
        h2.h2-decorated Let‘s Discover our Recipes 
        .slider-menu
            .item.chikcen-bg-color
                .mask-holder
                    img(src="assets/images/image-recept1.jpg", alt="#")
                    span.title-bottom Duck Salad with lemon and knoblauch
            .item.duck-bg-color
                .mask-holder
                    img(src="assets/images/image-recept1.jpg", alt="#")
                    span.title-bottom Duck Salad with awesome pasta
            .item.goose-bg-color
                .mask-holder
                    img(src="assets/images/image-recept1.jpg", alt="#")
                    span.title-bottom Greek whole chicken
        .button-row
            a(href="#").bnt-raggy Show more »



