// slider video of the page
.slider-video-wrap
	.container
		.heading
			h3.h3.decor-title Find out !
		.slider-video
			a(data-fancybox href="https://vimeo.com/191947042?color=f00" data-title='TITLE OF THE VIDEO' data-caption="<span class='video-info'>Description of the video if necessary</span>").item
				img(src="assets/images/image04.jpg", alt="#" )
				span.play-btn
			a(data-fancybox href="https://vimeo.com/191947042?color=f00" data-title='TITLE OF THE VIDEO' data-caption="<span class='video-info'>Description of the video if necessary</span>").item
				img(src="assets/images/image04.jpg", alt="#" )
				span.play-btn
			a(data-fancybox href="https://vimeo.com/191947042?color=f00" data-title='TITLE OF THE VIDEO' data-caption="<span class='video-info'>Description of the video if necessary</span>").item
				img(src="assets/images/image04.jpg", alt="#" )
				span.play-btn
			a(data-fancybox href="https://vimeo.com/191947042?color=f00" data-title='TITLE OF THE VIDEO' data-caption="<span class='video-info'>Description of the video if necessary</span>").item
				img(src="assets/images/image04.jpg", alt="#" )
				span.play-btn
			a(data-fancybox href="https://vimeo.com/191947042?color=f00" data-title='TITLE OF THE VIDEO' data-caption="<span class='video-info'>Description of the video if necessary</span>").item
				img(src="assets/images/image04.jpg", alt="#" )
				span.play-btn
			a(data-fancybox href="https://vimeo.com/191947042?color=f00" data-title='TITLE OF THE VIDEO' data-caption="<span class='video-info'>Description of the video if necessary</span>").item
				img(src="assets/images/image04.jpg", alt="#" )
				span.play-btn