// slider menu of the page
section.slider-menu-wrap
	//parallax elemnts connected by anhors with tabs
	.paralax-photo-holder
		.image-holder.active(data-chiken)
			img(src="assets/images/chicken2-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
		.image-holder(data-duck)
			img(src="assets/images/duck-parallax-photo.png", alt="Duck photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
		.image-holder(data-turkey)
			img(src="assets/images/turkey-parallax-photo.png", alt="Duck photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
		.image-holder(data-guinea)
			img(src="assets/images/guinea-parallax-photo.png", alt="Guinea photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
		.image-holder(data-hen)
			img(src="assets/images/chicken2-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
		.image-holder(data-goose)
			img(src="assets/images/goose-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
		.image-holder(data-eggs)
			img(src="assets/images/eggs-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
		.image-holder(data-delicatessen)
			img(src="assets/images/chicken2-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.container
		.heading
			h3.h3 INVITING « NATURE & RESPECT » TO THE TABLE!
			span by Nature & RESPECT
		.slider-menu
			.item
				img(src="assets/images/menu-image01.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image02.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.yellow Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image03.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.green Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image01.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.yellow Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image02.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image03.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.yellow Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image01.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.green Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image02.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image03.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.green Cuisses de poulet pané


