// slider menu of the page
section.slider-menu-wrap
	.paralax-photo-holder
		.image-holder
			img(src="assets/images/duck-parallax-photo.png", alt="Duck photo" data-scroll-speed="-3")
	.container
		.heading
			h3.h3 INVITING « NATURE & RESPECT » TO THE TABLE!
			span by Nature & RESPECT
		.slider-menu
			.item
				img(src="assets/images/menu-image01.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image02.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.yellow Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image03.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.green Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image01.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.yellow Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image02.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image03.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.yellow Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image01.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.green Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image02.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title Cuisses de poulet pané
			.item
				img(src="assets/images/menu-image03.jpg", alt="#")
				a(href="#").bnt-raggy Discover this recipie
				span.title.green Cuisses de poulet pané


