// sliders of the site
section.slider-concept
	ul.tab-nav
		li
			a(href='#slider1') Environment
				img(src="assets/images/icon-tree.png", alt="#" )
		li
			a(href='#slider2').active Nurture
				img(src="assets/images/icon-man.png", alt="#" )
		li
			a(href='#slider3') Housing
				img(src="assets/images/icon-house.png", alt="#" )
	.tab-content
		#slider1
			.slider-tab
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image02.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image02.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
		#slider2
			.slider-tab
				.item
					.img-box
						img(src="assets/images/image02.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image02.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image02.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
		#slider3
			.slider-tab
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image02.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.
				.item
					.img-box
						img(src="assets/images/image01.jpg", alt="#" )
					.text-box
						p Spend time outside, in an environment with trees and hedges where they can be sheltered from wind, have shade in summer, and perch to improve the their development.

