.bnt-raggy {
  @include animate(opacity);
  text-align: center;
  background-size: 100% 100%;
  background-image: url('../images/btn-raggy-bg.svg');
  padding: 9px 29px 13px;
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
  color: $white;
  min-width: 190px;
  opacity: 1;
  font-family: $base-font-hobo;
  @include media('<tablet') {
    font-size: 12px;
    min-width: 120px;
  }

  &:hover{
    opacity: .8;
  }
}

.product-list

.js-tab-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
}

.tab-content > .active {
  display: block;
}