/* single style */

.single-wrapper {
	font-size: 21px;
	line-height: 22px;
	color: #642200;
	padding: 34px 0 0;
	margin:  0 0 74px;
	position: relative;
	@include media('<tablet') {
		font-size: 13px;
		line-height: 16px;
		padding: 21px 0 0;
		margin: 0 0 39px;
	}
	&:before {
		background: url(../images/decor29.png) 50% 50% no-repeat;
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		height: 23px;
		margin: 0 0 -1px;
	}
	.container {
		max-width: 1185px;
		@include media('<tablet') {
			padding: 0 10px;
		}
	}
	h1,h2,h3,h4,h5,h6 {
		font-family: $base-font-hobo;
		font-weight: bold;
		margin: 0 0 22px;
		@include media('<tablet') {
			margin: 0 0 11px;
		}
	}
	h1 {
		font-size: 26px;
		line-height: 28px;
		@include media('<tablet') {
			font-size: 20px;
			line-height: 22px;
		}
	}
	h2 {
		font-size: 22px;
		line-height: 24px;
		@include media('<tablet') {
			font-size: 16px;
			line-height: 18px;
		}
	}
	h3 {
		font-size: 20px;
		line-height: 22px;
	}
	h4 {
		font-size: 19px;
		line-height: 21px;
		@include media('<tablet') {
			font-size: 15px;
			line-height: 17px;
		}
	}
	h5 {
		font-size: 18px;
		line-height: 20px;
		@include media('<tablet') {
			font-size: 14px;
			line-height: 16px;
		}
	}
	h6 {
		font-size: 16px;
		line-height: 18px;
		@include media('<tablet') {
			font-size: 13px;
			line-height: 15px;
		}
	}
	ul {
		@extend %listreset;
		li {
			margin: 0 0 10px;
		}
	}
	address {
		font-style: normal;
		margin: 0 0 43px;
		@include media('<tablet') {
			margin: 0 0 18px;
		}
		a {
			text-decoration: none;
		}
	}
	p {
		margin: 0 0 21px;
		@include media('<tablet') {
			margin: 0 0 18px;
		}
	}
	a {
		color: #642200;
		text-decoration: underline;
		&:hoverg {
			text-decoration: none;
		}
	}

	.zone_texte_image{
		max-width:  1000px;
		margin: 0 auto;
		.elt{
			display: flex;

			@include media('<phone') {
				flex-direction: column;
			}

			&:nth-child(odd){
				.texte{
					order:2;
					padding: 20px 0 0 20px;
					@include media('<phone') {
						padding: 20px 20px 0 0;
						order:0;
					}
				}
			}
			&:nth-child(even){
				.texte{
					padding: 20px 20px 0 0;
				}
			}
			.texte{
				width: 50%;
				@include media('<phone') {
					width: 100%;
				}
			}
			.image{
				width: 50%;

				@include media('<phone') {
					width: 100%;
				}
			}
		}
		h3{
		  font-family: $headings-font-family;
		  font-weight: bold;
		  color: $headings-color;
		  position: relative;
		  font: 25px $base-font-hobo;
		  margin: 0 0 38px;

			 &:before {
			    content: '';
			    position: absolute;
			    bottom: -15px;
			    left: 50%;
			    transform: translateX(-50%);
			    background: url(../images/decor-title.png) 0 0/cover no-repeat;
			    width: 260px;
			    height: 3px;
			}
		}
		.button-row{
			text-align: right;
			a.bnt-raggy{
				color: white;
				text-decoration: none;
			}
		}
	}
	.faq{
		margin-top: 45px;
		padding: 0 22px 22px;

		&:after{
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}

		aside{
			width: 25%;
			padding-right: 20px;
			float: left;

			@include media('<phone') {
				float: none;
				width: 100%;
			}

			h3{
				font-size: 28px;
			}
			p{
				margin-top: 20px;
				a{
					text-decoration: none;
					color: #cbd537;
				}
			}
			ul{
				margin-top: 20px;

				li{
					font-family: 'HoboStd';

					a{
						text-decoration: none;
					}
				}
			}
		}
		section{
			width: 75%;
			float: left;

			@include media('<phone') {
				float: none;
				width: 100%;
			}

			h3{
				font-size: 28px;
			}
			.faqQuestion{
				background-color: white;
				border-radius: 3px;
				margin-top: 15px;
				position: relative;
				margin-bottom: 15px;

				.faqQuestionHeader{
					background-color: #e0e687;
					position: relative;
					&:after{
						@include animate(transform);
						content : '▶';
						position: absolute;
						right: 20px;
						top: 20px;
						transform: rotate(0deg);
					}
					&.active:after{
						transform: rotate(90deg);
					}
					p{
						padding: 22px 47px 22px 22px;
						cursor: pointer;
						font-family: 'HoboStd';
						margin: 0;
					}
				}
				.faqReponse{
					background-color: #cbd537;
					display: none;
					overflow: hidden;

					p{
						padding: 10px 47px 30px;
						margin: 0;
					}
				}
			}
		}
	}
}
