// footer of the site
#footer
  .footer-top
    .container
      .box.open-close
        h3.h3.opener-menu Our brand
        .slide
          ul.footer-menu
            li
              a(href="#") Concept
            li
              a(href="#") Produits
            li
              a(href="#") Recettes
            li
              a(href="#") All about Poultry
            li
              a(href="#") News
            li
              a(href="#") Games & Coupons
      .box.open-close
        h3.h3.opener-menu
          img(src="assets/images/contact.svg", alt="#")
          | Contact
        .slide
          p If you have questions, comment, please, get in touch with us through this
            =' '
            a(href="#") contact form
      .box.open-close
        h3.h3.opener-menu Follow us
        .slide
          p Don‘t miss anything !
          p On Facebook, Pinterest, Youtube & co.
          ul.footer-social
            li
              a(href='#')
                i.icon.icon-facebook_icon
            li
              a(href='#')
                i.icon.icon-pinterest_icon
            li
              a(href='#')
                i.icon.icon-youtube_icon
  .footer-bottom
    .container
      .holder
        span © Copyright Nature & Respect
        ul.menu-bottom
          li
            a(href='#') FAQ
            i.icon.icon-arrows
          li
            a(href='#') About us
            i.icon.icon-arrows
          li
            a(href='#') Legal
            i.icon.icon-arrows
          li
            a(href='#') Sitemap
            i.icon.icon-arrows
      a(href='#').logo-footer
        img(src="assets/images/logo.png", alt="Nature Respect")
script(src='assets/js/vendor.min.js', defer='')
script(src='assets/js/app.js', defer='')
if (has_map)
  //provide this script in footer bofore call google map with necessary data
  //data can be providen from WP admin to lacation array
  script.
    function initMap() {
      //samples of data
          var locations = [
        ['<div class="tooltip-map"><h3>Name of Market</h3><p>Address 1</p><p>Address 2</p><p>Link to GoogleMapsRoute</p><a href="@">http://www.address.de</a> ', 50.307872, 10.822161],
        ['<div class="tooltip-map"><h3>Name of Market2</h3><p>Address 1</p><p>Address 2</p><p>Link to GoogleMapsRoute</p><a href="@">http://www.address.de</a> ',50.450261, 10.718627],
        ['<div class="tooltip-map"><h3>Name of Market3</h3><p>Address 1</p><p>Address 2</p><p>Link to GoogleMapsRoute</p><a href="@">http://www.address.de</a> ',40.550261, 10.618627],
        ['<div class="tooltip-map"><h3>Name of Market4</h3><p>Address 1</p><p>Address 2</p><p>Link to GoogleMapsRoute</p><a href="@">http://www.address.de</a> ',50.250261, 10.928627],
        ['<div class="tooltip-map"><h3>Name of Market5</h3><p>Address 1</p><p>Address 2</p><p>Link to GoogleMapsRoute</p><a href="@">http://www.address.de</a> ',50.150261, 10.678627],
        ['<div class="tooltip-map"><h3>Name of Market6</h3><p>Address 1</p><p>Address 2</p><p>Link to GoogleMapsRoute</p><a href="@">http://www.address.de</a> ',50.055261, 10.178627],
      ];

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        //set center coordinates
        center: new google.maps.LatLng( 50.307872, 10.822161),  
      });

      var infowindow = new google.maps.InfoWindow(
     
      );

      var marker, i;

      var icon = {
        url: "assets/images/marker.svg",

        scaledSize: new google.maps.Size(44, 34),
      };  

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map,
          icon: icon
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    }
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBjFiOeRB49qv_F9Ek8_M47BLBAUI4ZUP0&callback=initMap')
