// header of the site
#header
	.container
		span.btn-close
		a(href="#").logo-header
			img(src="assets/images/logo.png", alt="#" )
		ul.nav-header
			li.item
				img(src="assets/images/icon01.png", alt="#")
				a(href="#") Home
			li.item
				img(src="assets/images/icon02.png", alt="#")
				a(href="#") Concept
			li.item
				img(src="assets/images/icon03.png", alt="#")
				a(href="#") Products
			li.item
				img(src="assets/images/icon04.png", alt="#")
				a(href="#") Recipes
			li.item
				img(src="assets/images/icon05.png", alt="#")
				a(href="#") All about poultry
			li.item
				img(src="assets/images/icon06.png", alt="#")
				a(href="#") Contact
			li.item
				img(src="assets/images/icon07.png", alt="#")
				a(href="#") News
			li.item
				img(src="assets/images/icon08.png", alt="#")
				a(href="#") Gewinne/Coupons
		ul.lang-list
			li
				a(href="#")
					img(src="assets/images/lang01.png", alt="#")
			li
				a(href="#")
					img(src="assets/images/lang02.png", alt="#")
			li
				a(href="#")
					img(src="assets/images/lang03.png", alt="#")
		ul.social-list
			li
				i.icon
			li
				i.icon
			li
				i.icon
	span.btn-mobile
