// header of the site
#header
	.container
		span.btn-close
			span.decor1
			span.decor2
		a(href="#").logo-header-mob
			img(src="assets/images/logo-mob.png", alt="#" )
		ul.nav-header
			li.item.is-active
				img(src="assets/images/home.svg", alt="#")
				a(href="#") Home
			li.item
				img(src="assets/images/concept.svg", alt="#")
				a(href="#") Concept
			li.item
				img(src="assets/images/products.svg", alt="#")
				a(href="#") Products
			li.item
				img(src="assets/images/recipes.svg", alt="#")
				a(href="#") Recipes
			li.item
				img(src="assets/images/about.svg", alt="#")
				a(href="#") All about poultry
			li.item
				img(src="assets/images/contact.svg", alt="#")
				a(href="#") Contact
			li.item
				img(src="assets/images/news.svg", alt="#")
				a(href="#") News
			li.item
				img(src="assets/images/coupons.svg", alt="#")
				a(href="#") Gewinne/Coupons
		ul.lang-list
			li
				a(href="#")
					img(src="assets/images/lang01.png", alt="#")
			li
				a(href="#")
					img(src="assets/images/lang02.png", alt="#")
			li
				a(href="#")
					img(src="assets/images/lang03.png", alt="#")
		ul.social-list
			li
				i.icon.icon-facebook_icon
			li
				i.icon.icon-pinterest_icon
			li
				i.icon.icon-youtube_icon
	.logo-holder
		a(href="#").logo-header
			img(src="assets/images/logo.png", alt="#" )
		span.btn-mobile
			span.btn-mobile__decor