// paralax of the site
.paralax-photo-holder
	.image-holder.active(data-chiken)
		img(src="assets/images/chicken2-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.image-holder(data-duck)
		img(src="assets/images/duck-parallax-photo.png", alt="Duck photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.image-holder(data-turkey)
		img(src="assets/images/turkey-parallax-photo.png", alt="Duck photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.image-holder(data-guinea)
		img(src="assets/images/guinea-parallax-photo.png", alt="Guinea photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.image-holder(data-hen)
		img(src="assets/images/chicken2-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.image-holder(data-goose)
		img(src="assets/images/goose-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.image-holder(data-eggs)
		img(src="assets/images/eggs-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
	.image-holder(data-delicatessen)
		img(src="assets/images/chicken2-parallax-photo.png", alt="chiken photo" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")