//product section of the site
.product-section-wrap#anchor
	section.product-wrap
		.product-logo
			img(src="assets/images/logo-big.png", alt="#")
			.box-text
				img(src="assets/images/decor06.png", alt="#" ).decor
				span EU-
					br
					| CERTIFIED FREE RANGE
					br
					| poultry
		.container
			div.box
				.product-holder
					ul.product-list
						li
							a.active(href='#chiken') Chiken
						li
							a(href='#duck') Duck
						li
							a(href='#turkey') Turkey
						li
							a(href='#guinea') Guinea fowl
						li
							a(href='#hen') Hen
						li
							a(href='#goose') Goose
						li
							a(href='#eggs') Eggs
						li
							a(href='#delicatessen') Delicatessen
					.product-info
						span.title Free Range
						.tab-content.product-slider
							#chiken
								.paralax-image-holder
									img(src="assets/images/chicken2-parallax-image.png", alt="chiken image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Chiken
								ul.list-info
									li Chiken
									li Lorem, ipsum.
									li Lorem ipsum dm ipsum dm ipsum dolor sit amet consectetur adipisicing elit. Minima, id?
								ul.list
									li
										a(href='#')
											img(src="assets/images/icon-leg.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/icon-leg.png", alt="#" )
											span Leg
							#duck
								.paralax-image-holder
									img(src="assets/images/duck-parallax-image.png", alt="Duck image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Duck
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#turkey
								.paralax-image-holder
									img(src="assets/images/turkey-parallax-image.png", alt="Duck image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Turkey
								ul.list-info
									li Turkey
									li Lorem ipsum dolor sit.
									li Lorem Lorem ipsum dolor sit. ipsum dolor sit.	
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#guinea
								.paralax-image-holder
									img(src="assets/images/guinea-parallax-image.png", alt="guinea image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Guinea
								ul.list-info
									li Ginea
									li Loremr sit.
									li Lorem sit. ipsum dolor sit.	
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#hen
								.paralax-image-holder
									img(src="assets/images/chicken2-parallax-image.png", alt="chiken image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Hen
								ul.list-info
									li Hen
									li Lorem, ipsum dolor.
									li Lorem ipsum dolor sit amet.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#goose
								.paralax-image-holder
									img(src="assets/images/goose-parallax-image.png", alt="goose image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Goose
								ul.list-info
									li oose
									li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat.
									li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi facilis, in asperiores sunt commodi nam!
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#eggs
								.paralax-image-holder
									img(src="assets/images/eggs-parallax-image.png", alt="goose image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Eggs
								ul.list-info
									li Eggs
									li Lorem ipsum dolor sit.
									li Lorem ipsum dolor sit, amet consectetur adipisicing elit.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#delicatessen
								.paralax-image-holder
									img(src="assets/images/chicken2-parallax-image.png", alt="chiken image" data-anchor-target="#anchor"  data-100-center="transform: translate3d(0px, 0px, 0px);" data-700-center="transform: translate3d(0px, 100px, 0px)")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title Delicatessen
								ul.list-info
									li Delicatessen
									li Lorem ipsum dolor sit amet consectetur.
									li Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatem fugiat voluptate consequatur!
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
			div.box
				.text-holder
					p Respect for animals, livestock farmers and nature are the core values of our free-range Nature & Respect brand. Through these values, we also respect our consumers.
					p This is because we truly care about offering healthy, sustainable and tasty products all year long.
					a(href="#").bnt-raggy More about our products