//product section of the site
section.product-wrap
	.logo
		img(src="assets/images/logo-big.png", alt="#" )
		.box-text
			img(src="assets/images/decor06.png", alt="#" ).decor
			span EU- CERTIFIED FREE RANGE poultry
	.container
		div.box
		div.box
			.text-holder
				p Respect for animals, livestock farmers and nature are the core values of our free-range Nature & Respect brand. Through these values, we also respect our consumers.
				p This is because we truly care about offering healthy, sustainable and tasty products all year long.
				a(href="#").bnt-raggy More about our products