//product section of the site
.product-section-wrap
	section.product-wrap
		.product-logo
			img(src="assets/images/logo-big.png", alt="#")
			.box-text
				img(src="assets/images/decor06.png", alt="#" ).decor
				span EU-
					br
					| CERTIFIED FREE RANGE
					br
					| poultry
		.container
			div.box
				.product-holder
					ul.product-list
						li
							a.active(href='#product1') Chiken
						li
							a(href='#product2') Duck
						li
							a(href='#product3') Guinea fowl
						li
							a(href='#product4') Hen
						li
							a(href='#product5') Goose
						li
							a(href='#product6') Eggs
						li
							a(href='#product7') Goos
						li
							a(href='#product8') Delicatessen
					.product-info
						span.title Free Range
						.tab-content.product-slider
							#product1
								.paralax-image-holder
									img(src="assets/images/duck-parallax-image.png", alt="Duck image")
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#product2
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck2
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#product3
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck3
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#product4
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck4
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#product5
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck5
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#product6
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck6
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#product7
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck7
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
							#product8
								.logo-product
									img(src="assets/images/logo-product.png", alt="#" )
								.title-holder
									span.header-title duck8
								ul.list-info
									li Pekin Duck breed.
									li Bred in open air for minimum half of their life.
									li Fed on a 100% vegetarian, mineral and vitamins diet with a minimum of 70% cereals.
								ul.list
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Breast
									li
										a(href='#')
											img(src="assets/images/image01.png", alt="#" )
											span Leg
			div.box
				.text-holder
					p Respect for animals, livestock farmers and nature are the core values of our free-range Nature & Respect brand. Through these values, we also respect our consumers.
					p This is because we truly care about offering healthy, sustainable and tasty products all year long.
					a(href="#").bnt-raggy More about our products