// subscription form of the site
.subscription-wrap
	.container
		.holder
			.heading
				h3.h3 Soon in a City near You
				p Join our list and we will let you know, when we‘re available in a city near you.
			.subscription-form
				span.alert-success Thank you for your message. We will stay in touch.
				form(action='#')#subscript-form
					.input-col
						input(type='email' placeholder='E-Mail Address' name="email").field
					.input-col
						input(type='text' placeholder='City*' name="country").field
					input(type='submit' value="Submit").btn-submit
