// This is base reset for form elements.
//
// Note: If you use a framework that includes form styling then you need to remove this file.

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  font-family: $base-font-sans-serif;
  border: 1px solid $form-element-border-color;
  padding: $form-element-padding;

  &:focus {
    outline: none;
  }

  @include placeholder {
    color: $placeholder-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

input[type='submit'] {
  @include animate(opacity);
  font: 25px/27px $base-font-hobo;
  background: #cbd537;
  color: #fff;
  border: none;
  padding: 5px 20px;
  &:hover {
    opacity: .8;
  }
}