// banner cite of the site
section.banner-cite
	.heading
		h3.h3 « We are proud to raise quality poulty, in maintaining the respect of the environment and taking care of the animal’s welfare »
	img.desktop-img(src="assets/images/banner2.jpg", alt="#" )
	img.mobile-img(src="assets/images/banner2-mobile.jpg", alt="#" )