// concept banner of the site
section.banner-concept
	img(src="assets/images/decor14.png", alt="#").decor-banner
	.banner-top
		.container
			.banner-heading
				h2.h2 our core
				h3.h3 values
				span by nature & respect
	.banner-bottom
		.container
			.box-text
				.block
					h4.h4 Respect for animals,
						br
						| farmers and nature are  the core values of
					span.title Nature & Respect
					p Through these values, we also respect our customers. This si because we truly care about offering healthy, sustainable and tasty products all year long. Nature & Respect emobies all the values of sustainable livestock farming, manged bt trained and passionat farmer who want to raise high-quality birds.
				.img-holder
					img(src="assets/images/chicken.png", alt="#")
				.block.small
					h5.h5.decor-title Respect for the
						=' '
						span animal
					p We are commited to producing high-quality poultry. That‘s why we pay close attention to the health and welfare of our birds to ensure they grow at their own pace and according to their needs.
					p Access to an outdoor area gives birds the type of rich and varied environment they need to develop properly.
