.home-banner
  .decorete-elements
    .banner-img-holder
      img(src="assets/images/banner1-bg.jpg", alt="Banner Image")
    .element-sky1
    .element-sky2
    .element-sky3
    .element-sun
    .element-tree
    .chicken-image-holder.parallax-section
      img(src="assets/images/chicken-paralax-image.png", alt="image of chicken" data-0="transform: translate3d(0px, 0px, 0px);" data-500="transform: translate3d(0px, 180px, 0px)")
    .title-section
      h3.h3 FREE RANGE
      h2.h2 POULTRY
      span.note by Nature & RESPECT