.home-banner
  .decorete-elements
    .img-holder
      img(src="assets/images/banner1-bg.jpg", alt="Banner Image")
    .element-sky1
    .element-sky2
    .element-sky3
    .element-sun
    .element-tree
    .title-section
      h3.h3 FREE RANGE
      h2.h2 POULTRY
      span.note by Nature & RESPECT
    