.recept-banner
    .img-banner-mask
        img(src= path_to_banner_image, alt="recipes-banner")
    .title-holder
        h1.h1= banner_title
        span.subtitle We can put an additional subline here
    .filter-open-btn
        .text all recipes
        .btn-decorate
            i.icon-grid
    ul.recept-menu
        li.close
            .text-mobile Close
            .mask-wrapper
                a(href="#") 
                    .img-holder 
                        i.icon-cross
                    .text Close
        li.eggs
            .text-mobile Eggs
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/eggs.svg", alt="eggs")
                    .text Eggs
        li.turkey
            .text-mobile Turkey
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/turkey.svg", alt="turkey")
                    .text Turkey
        li.hen
            .text-mobile Hen
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/hen.svg", alt="hem")                
                    .text Hen
        li.chicken.active
            .text-mobile Chicken
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/chicken.svg", alt="chiken")                  
                    .text Chicken
        li.duck
            .text-mobile Duck
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/duck.svg", alt="duck")                  
                    .text Duck
        li.guinea
            .text-mobile Guinea fowl
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/guinea.svg", alt="guinea")  
                    .text Guinea fowl
        li.goose
            .text-mobile Goose
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/goose.png", alt="goose")                   
                    .text Goose
        li.delicatessen
            .text-mobile Delicatessen
            .mask-wrapper        
                a(href="#")
                    .img-holder
                        img(src="assets/images/recept-menu-images/delicatessen.svg", alt="delicatessen")  
                    .text Delicatessen
