doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      include ../partials/header
      include ../partials/banners/banner-concept
      include ../partials/sliders/slider-concept
      section.respect-holder
        .container
          .text-box
            h3.h3.decor-title Respect for the
              =' '
              span farmer
            .text-decor
              p A combination of passion and tradition for livestock farming: We believe that only farmers who are well-trained and passioate about what they do can produce high-quality birds!
            span.title-list Our Nature & Respect farmers:
            ul.respect-list
              li Are responsible stakeholders in the Nature & Respect free-range production model: they own their farms, which are often passed down through familiy. The farmer works their  own farm, in tur supporting their local community.
              li Are chosen for their motivation and professionalism.
              li Receive individualised assistance from a knowledgeable technical team to produce a consistently high-quality poultry and are pround to produce high-quality poultry for you.
          .img-box
            img(src="assets/images/image05.png", alt="#").decor-banner
      section.blockquote-banner
        .container
          blockquote
            p « We are proud to raise quality poulty, in maintaining the respect of the environment and taking care of the animal’s welfare  »
      include ../partials/sliders/slider-video
      section.respect-holder.img-left
        .container
          .text-box
            h3.h3.decor-title Respect for the
              =' '
              span nature
            .text-decor
              p Nature & Respect means respecting nature and sustainable livestock farming practices! tWe work today to prepare for tomorrow. We know that a healthy environment provides sustainable living coditions for farmers and their flock.
            ul.respect-list
              li Every year, we renew our commitment to our reforestation policy of planting trees and hedges using environment friendly techniques.
              li Our farmers have energy-efficient poultry houses that fit naturally into their sourroundings.
              li Our farmers develop projects to control resource production, such as biogas plants.
          .img-box
            img(src="assets/images/image06.png", alt="#").decor-banner
      div.decor-line
      section.respect-holder.no-padding
        .container
          .text-box
            h3.h3.decor-title Respect for the
              =' '
              span customer
            .text-decor
              p Transparency and food security are essential aspects of our approach to livestock rearing and production. We believe in offering you healthy food with a maximum of guarantees!
            ul.respect-list
              li
                span External checks by an independent organisation:
                | CERTIPAQ, an independent certification organisation, certifies our entire production chain, from farm to fork.
                span.img-holder
                  img(src="assets/images/logo-content.png", alt="#")
                | Each poultry batch is checked at least once by the organisation, which ensures maximum security.
              li
                span Traceability:
                p Each product we sell is subject to traceability measures: tracing and identifying our products from the farm to the costumer.
                p Suppliers chosen for their commitment:
                p The suppliers providing the ingredients that go into our Nature & Respect poultry recipes are selected based on their commitments, such as to produce low-sodiu, marinades and products that are palm
          .img-box
            img(src="assets/images/image07.png", alt="#").decor-banner
      include ../partials/sliders/slider-menu
      include ../partials/foot