doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      include ../partials/header
      include ../partials/banners/banner-concept
      include ../partials/sliders/slider-concept
      include ../partials/sliders/slider-menu
      include ../partials/foot