doctype html
html(lang='en')
  include ../partials/head
  body
    #wrapper
      include ../partials/header
      include ../partials/banners/home-banner
      include ../partials/sections/present-section
      include ../partials/product
      include ../partials/sliders/slider-menu
      include ../partials/banners/banner-cite
      include ../partials/subscription
      include ../partials/foot
