doctype html
html(lang='en')
  include ../partials/head
  body
    include ../partials/header
    include ../partials/banners/home-banner
    #wrapper
      include ../partials/product
    include ../partials/foot