doctype html
html(lang='en')
  include ../partials/head
  body
    include ../partials/header
    #wrapper
      //ul(style="color:white;")
      //  li
      //    a(href="home.html").bnt-raggy Home Page
      //  li
      //    a(href="concept-page.html").bnt-raggy Concept page
    include ../partials/foot