doctype html
html(lang='en')
  include ../partials/head
  body
    include ../partials/header
    #wrapper
      ul(style="color:white; margin-top:150px;")
        li
          a(href="home.html").bnt-raggy Home Page
        li
          a(href="concept.html").bnt-raggy Concept page
    include ../partials/foot