doctype html
html(lang='en')
  include ../partials/head
  body
    include ../partials/header
    #wrapper
      .container
        ul(style="color:white; padding-top:150px;")
          li
            a(href="home.html").bnt-raggy Home Page
          li
            a(href="concept.html").bnt-raggy Concept page
          li
            a(href="recipie-overview.html").bnt-raggy Recipie-overview            
    include ../partials/foot