doctype html
html(lang='en')
  include ../partials/head
  body.product-page
    #wrapper
      - var path_to_banner_image = "assets/images/product-banner-bg.jpg"
      - var banner_title = "BE INSPIRED"
      include ../partials/header
      include ../partials/banners/overview-banner
      include ../partials/sections/product-grid
      include ../partials/sliders/slider-menu
      include ../partials/foot
