doctype html
html(lang='en')
	include ../partials/head
	body
		#wrapper
			include ../partials/header
			section.recept-banner.recept-banner-detail.product-banner
				img(src='assets/images/banner4.jpg', alt='recipes-banner')
				.title-holder
					h1.h1 Cuisses de poulet
					span.subtitle by Nature & RESPECT
			section.product-container.product-detail-wrap
				.container
					.product-detail
						.product-box
							.mask
								img(src='assets/images/product01.jpg', alt='')
						.product-title-mob
							h1.h1 Cuisses de poulet
								span.subtitle by Nature & RESPECT
						.product-text
							h4.h4 Our chicken
							p Las diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
					.product-information
						.heading
							h6.h6.decor-title Nutrition facts:
						table.product-table
							thead
								tr
									th Property Name
									th per 100 g
									th per protion 16 g
									th reference for adult un %**
							tbody
								tr
									td Property Name
									td per 100 g
									td per protion 16 g
									td reference for adult un %**
								tr
									td Property Name
									td per 100 g
									td per protion 16 g
									td reference for adult un %**
								tr
									td Property Name
									td per 100 g
									td per protion 16 g
									td reference for adult un %**
								tr
									td Property Name
									td per 100 g
									td per protion 16 g
									td reference for adult un %**
								tr
									td Property Name
									td per 100 g
									td per protion 16 g
									td reference for adult un %**
								tr
									td Property Name
									td per 100 g
									td per protion 16 g
									td reference for adult un %**
						p ** Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.
			include ../partials/sliders/prefooter-slider
			include ../partials/foot