doctype html
html(lang='en')
	include ../partials/head
	body
		#wrapper
			include ../partials/header
			section.recept-banner.recept-banner-detail
				img(src='assets/images/banner4.jpg', alt='recipes-banner')
				.title-holder
					h1.h1 Cuisses de poulet panés
			section.product-container
				.container
					.ingridients
						// added class .eggs,hen,duck,guinea,goose,delicatessen
						.product-box.turkey
							.mask
								img(src='assets/images/product01.jpg', alt='')
						.ingt-list
							span.title Ingredients
							ul.list
								li Chicken Nature & Respect
								li Crême fraîche (100g)
								li Champignons (100g)
								li Salt
								li Pepper
								li Milk
							div.text
								h5.h5 Some Tips
								p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
						ul.social-list
							li
								a(href='#')
									i.icon.icon-pinterest_icon
							li
								a(href='#')
									i.icon.icon-facebook_icon
							li
								a(href='#')
									i.icon.icon-printing_icon
					.content
						.holder1
							p Las diam nonumy Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
							ul.list-panel
								li
									img(src='assets/images/icon-person.png', alt='')
									span 3 persons
								li
									img(src='assets/images/icon-clock.png', alt='')
									span 2 Hours
								li
									img(src='assets/images/icon-clock2.png', alt='')
									span 20 minutes
								li
									img(src='assets/images/icon-very-easy.png', alt='')
									span Very Easy
						.holder2
							h4.h4 Préparation
							ol.etapes-list
								li
									span.heading Etape
									p Découper à cru une volaille de Bresse. Faire fondre dans une sauteuse un bon morceau de beurre avec un gros oignon émincé et une feuille de laurier.
									img(src='assets/images/product02.jpg', alt='')
								li
									span.heading Etape
									p Etape mettre à colorer les morccaux du poulet, puis singer d'un peu de farine et laisser encore blondir en remuant.
									img(src='assets/images/product03.jpg', alt='')
								li
									span.heading Etape
									p Etape mettre à colorer les morccaux du poulet, puis singer d'un peu de farine et laisser encore blondir en remuant.
									img(src='assets/images/product04.jpg', alt='')
								li
									span.heading Etape
									p faire cuire une demi-heure à feu doux, à couvert.
			include ../partials/sliders/prefooter-slider
			include ../partials/foot