doctype html
html(lang='en')
  include ../partials/head
  body.recipie-page
    #wrapper
      include ../partials/header
      include ../partials/banners/recept-overview-banner
      include ../partials/sections/recepties-grid
      include ../partials/foot
