/* footer style */

#footer {
	background: #fff;
	color: #612400;
	.container {
		max-width: 903px;
	}
}

.footer-top {
	padding: 37px 0 55px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	@include media('<tablet') {
		padding: 9px 10px 23px;
	}
	.container {
		display: flex;
		justify-content: space-between;
		@include media('<tablet') {
			display: block;
		}
	}
	.box {
		width: 25%;
		@include media('<tablet') {
			width: 100%;
			border-bottom: 2px solid #742500;
		}
	}
	.active {
		.h3:before {
			@include media('<tablet') {
				transform: rotate(90deg);
			}
		}
	}
	.h3 {
		font: bold 25px/27px $base-font-sans-serif;
		margin: 0 0 18px;
		position: relative;
		@include media('<tablet') {
			font-size: 19px;
			line-height: 21px;
			padding: 11px 20px 11px 0;
			margin: 0 0 3px;
		}
		&:before {
			@include animate(transform);
			content: '';
			position: absolute;
			bottom: -2px;
			left: -15px;
			width: 132px;
			height: 3px;
			background: url(../images/decor08.png) 0 0/cover no-repeat;
			@include media('<tablet') {
				content: "\e905";
				font-family: 'icomoon' !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				background: none;
				bottom: auto;
				left: auto;
				right: 0;
				top: 17px;
				width: 15px;
				height: 15px;
				font-size: 12px;
			}
		}
		img {
			width: 27px;
			display: inline-block;
			vertical-align: middle;
			margin: -10px 7px 0 0;
			@include media('<tablet') {
				display: none;
			}
		}
	}
	.slide {
		@include media('>=tablet') {
			height: auto !important;
		}
	}
	.js-slide-hidden {
		@include media('>=tablet') {
			height: auto !important;
			left: 0 !important;
			top: 0 !important;
			position: relative !important;
		}
	}
	a {
		@include animate(opacity);
		color: #9ea62b;
		text-decoration: none;
		&:hover {
			opacity: .8;
		}
	}
	p {
		margin: 0;
		@include media('<tablet') {
			padding: 15px 0;
		}
		+ p {
			@include media('<tablet') {
				padding: 0;
			}
		}
	}
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	padding: 14px 0;
	font-weight: bold;
	background: #cbd537;
	@include media('<tablet') {
		padding: 0;
		background: none;
	}
	.container {
		position: relative;
		@include media('<tablet') {
			padding: 0;
		}
	}
	.logo-footer {
		position: absolute;
		right: 0;
		top: -15px;
		width: 75px;
		margin: -35px 0 0;
		@include media('<desktop') {
			right: 15px;
		}
		@include media('<tablet') {
			display: none;
		}
	}
	.holder {
		padding: 0 100px 0 0;
		display: flex;
		justify-content: space-between;
		@include media('<tablet') {
			padding: 0;
			flex-direction: column;
		}
		> span {
			@include media('<tablet') {
				font-size: 9px;
				display: block;
				padding: 3px 0 20px;
				text-align: center;
			}
		}
	}
}

.menu-bottom {
	@extend %listreset;
	flex: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 0 65px;
	@include media('<desktop') {
		padding: 0;
	}
	@include media('<tablet') {
		font-size: 13px;
		line-height: 15px;
		order: -1;
		background: #cbd537;
		padding: 10px 0;
	}
	li {
		margin: 0 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media('<desktop') {
			margin: 0 25px;
		}
		@include media('<tablet') {
			margin: 0 13px;
		}
	}
	i {
		font-size: 7px;
		margin: 2px 0 0 5px;
		@include media('<tablet') {
			font-size: 5px;
			margin: 1px 0 0 5px;
		}
	}
	a {
		@include animate(opacity);
		color: #612400;
		text-decoration: none;
		&:hover {
			opacity: .8;
		}
	}
}

.footer-menu {
	@extend %listreset;
	font-size: 17px;
	line-height: 19px;
	@include media('<tablet') {
		font-size: 13px;
		line-height: 15px;
		padding: 15px 0;
	}
	li {
		padding: 0 0 0 14px;
		background: url(../images/icon-pen.png) 0 0 no-repeat;
		@include media('<tablet') {
			background: none;
			padding: 0;
			margin: 0 0 5px;
		}
	}
	a {
		@include animate(opacity);
		color: #612400;
		text-decoration: none;
		position: relative;
		&:before {
			@extend [class*=" icon-"];
			@extend .icon-arrows;
			position: absolute;
			right: -11px;
			top: 8px;
			font-size: 5px;
		}
		&:hover {
			opacity: .8;
		}
	}
}

.footer-social {
	@extend %listreset;
	font-size: 40px;
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0 0;
	@include media('<tablet') {
		margin: 15px 0;
	}
	li {
		margin: 0 10px 0 0;
	}
	a {
		@include animate(opacity);
		&:hover {
			opacity: .8;
		}
	}
}