section.present-section#product
  .container
    .title-section
      h3.h3 FREE RANGE
      h2.h2 POULTRY
      span.note by Nature & RESPECT
  .chicken-photo-holder.parallax-section
    img(src="assets/images/chicken-paralax.png", alt="image of chicken" data-0="transform: translate3d(0px, 0px, 0px);" data-500="transform: translate3d(0px, 180px, 0px)")
  .container
    .root-holder
      include root
    .row
      .single-text-box
        h3.h3 
          span.small Our 
          | free-range <br>
          span.capitalize Poultry
        p are hatched, raised and prepared in western France.  In this region, the temperate climate is ideal for free-range rearing and growing the cereals our birds eat.
        a(data-fancybox href="https://vimeo.com/191947042?color=f00" data-title='TITLE OF THE VIDEO' data-caption="<span class='video-info'>Description of the video if necessaryn</span>").bnt-raggy Our concept in video
    .accelerators-holder.owl-carousel.owl-theme
      .accelerator-element
        a(href="#").heading-img-holder
          h5.h5.image-farmer 
            span.circle-text Faramer
          img.image-box(src="assets/images/farmer-icon.png" alt="image")
          .image-holder.farmer-circle
            img(src="assets/images/farmer-circle.png" alt="image")
        .collapse-text-box
          p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
          a(href="#").bnt-raggy learn more »
      .accelerator-element
        a(href="#").heading-img-holder
          h5.h5.image-animal
            span.circle-text Animals
          img.image-box(src="assets/images/animal-icon.png" alt="image")
          .image-holder.animal-circle
            img(src="assets/images/animal-circle.png" alt="image")
        .collapse-text-box
          p LoremLorem sunt incididunt quis nisi deserunt ut anim eu reprehenderit est tempor.
          a(href="#").bnt-raggy learn more »
      .accelerator-element
        a(href="#").heading-img-holder
          h5.h5.image-nature
            span.circle-text Nature
          img.image-box(src="assets/images/nature-icon.png" alt="image")
          .image-holder.nature-circle
            img(src="assets/images/nature-circle.png" alt="image")
        .collapse-text-box
          p LoremLorem sunt incididunt quis nisi deserunt ut anim eu reprehenderit est tempor.
          a(href="#").bnt-raggy learn more »
      .accelerator-element
        a(href="#").heading-img-holder
          h5.h5.image-customer
            span.circle-text Customer
          img.image-box(src="assets/images/customer-icon.png" alt="image")
          .image-holder.customer-circle
            img(src="assets/images/customer-circle.png" alt="image")
        .collapse-text-box
          p LoremLorem sunt incididunt quis nisi deserunt ut anim eu reprehenderit est tempor.
          a(href="#").bnt-raggy learn more »