section.present-section
  .chicken-photo-holder
    img(src="assets/images/chicken-paralax.png", alt="image of chicken" data-scroll-speed="-8")
  .container
    .row
      .single-text-box
        h3.h3 
          span.small Our 
          | free-range <br> Poultry
        p are hatched, raised and prepared in western France.  In this region, the temperate climate is ideal for free-range rearing and growing the cereals our birds eat.
        a(href="#").bnt-raggy Our concept in video
    .accelerators-holder.owl-carousel.owl-theme
      .accelerator-element
          h5.h5.circle-text.image-farmer Faramer
          img.image-box(src="assets/images/farmer-icon.png")
          img(src="assets/images/farmer-circle.png")
          .collapse-text-box
            p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
            a(href="#").bnt-raggy learn more »
      .accelerator-element
          h5.h5.circle-text.demo1.image-animal Animals
          img.image-box(src="assets/images/animal-icon.png")
          img(src="assets/images/animal-circle.png")
          .collapse-text-box
            p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
            a(href="#").bnt-raggy learn more »
      .accelerator-element
          h5.h5.circle-text.demo1.image-nature Nature
          img.image-box(src="assets/images/nature-icon.png")
          img(src="assets/images/nature-circle.png")
          .collapse-text-box
            p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
            a(href="#").bnt-raggy learn more »
      .accelerator-element
          h5.h5.circle-text.demo1.image-customer Customer
          img.image-box(src="assets/images/customer-icon.png")
          img(src="assets/images/customer-circle.png")
          .collapse-text-box
            p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
            a(href="#").bnt-raggy learn more »




our birds eat.

  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui ex earum, dolorum eos ratione dignissimos officiis enim maiores adipisci totam nesciunt. Porro quas, explicabo atque nobis qui dolorem omnis ipsum ipsa illo. Deserunt maxime delectus officiis nulla, laborum aperiam rerum doloribus expedita reprehenderit minus recusandae voluptatum dolores consequuntur veritatis sed, laboriosam molestiae optio, aliquam doloremque! Quaerat delectus ratione quasi officia commodi perspiciatis ipsam sequi. Quasi, nemo ab consequatur ipsam quibusdam consequuntur sunt non. Architecto ea debitis autem, dignissimos maiores labore omnis, sit suscipit nulla vel harum incidunt deserunt commodi praesentium molestias quaerat voluptatem. Vero animi eligendi non quas iste nostrum repellendus, odit repellat. Amet consequatur nostrum iure ipsam, nam magni beatae maxime veniam, suscipit sint sapiente culpa vero! Aliquid quidem unde iste tenetur, necessitatibus molestiae a exercitationem debitis quos. Omnis animi blanditiis quasi deserunt veniam, impedit non fuga recusandae? Sequi pariatur exercitationem ipsam corporis at omnis praesentium odit iure ab inventore perferendis ipsum quae quam atque maxime in, id enim sit dolorem rerum ut minima asperiores, maiores eaque! Aperiam nisi ab debitis perspiciatis esse alias nobis vel iste. Dolore quaerat laudantium blanditiis quibusdam corporis omnis dolorem placeat enim consequuntur nulla porro quidem rerum fugiat consectetur tempore, ad sequi cumque recusandae et minima rem! Dolores natus delectus repellendus excepturi fugit! Ipsam eius atque delectus placeat fugit ea omnis pariatur nostrum quaerat animi cum architecto quas illo, optio explicabo excepturi tempora praesentium eum illum veritatis cumque saepe doloremque natus? Tenetur quos exercitationem, voluptas cum fuga quaerat delectus perspiciatis reiciendis sapiente tempora. Iste assumenda vitae quae ab fugit, at mollitia doloribus, nostrum ipsum modi corrupti delectus. Autem maiores magnam iure dolor perspiciatis inventore minima accusamus illo beatae animi dolorum officia tempora, dolores, nobis nihil quam doloremque aperiam provident 