section.present-section
  
  .chicken-photo-holder
    img(src="assets/images/chicken-paralax.png", alt="image of chicken" data-scroll-speed="-8")
  .container
    .root-holder
    .row
      .single-text-box
        h3.h3 
          span.small Our 
          | free-range <br>
          span.capitalize Poultry
        p are hatched, raised and prepared in western France.  In this region, the temperate climate is ideal for free-range rearing and growing the cereals our birds eat.
        a(href="#").bnt-raggy Our concept in video
    .accelerators-holder.owl-carousel.owl-theme
      .accelerator-element
        .headind-img-holder
          h5.h5.image-farmer
            .circle-text Faramer
          img.image-box(src="assets/images/farmer-icon.png")
          img(src="assets/images/farmer-circle.png")
        .collapse-text-box
          p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
          a(href="#").bnt-raggy learn more »
      .accelerator-element
        .headind-img-holder
          h5.h5.image-animal
            .circle-text Animals
          img.image-box(src="assets/images/animal-icon.png")
          img(src="assets/images/animal-circle.png")
        .collapse-text-box
          p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
          a(href="#").bnt-raggy learn more »
      .accelerator-element
        .headind-img-holder
          h5.h5.image-nature
            .circle-text Nature
          img.image-box(src="assets/images/nature-icon.png")
          img(src="assets/images/nature-circle.png")
        .collapse-text-box
          p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
          a(href="#").bnt-raggy learn more »
      .accelerator-element
        .headind-img-holder
          h5.h5.circle-text.demo1.image-customer Customer
          img.image-box(src="assets/images/customer-icon.png")
          img(src="assets/images/customer-circle.png")
        .collapse-text-box
          p A combination of passion and tradition for livestock farming: our farmers are well-trained and commited to producing high-quality birds! 
          a(href="#").bnt-raggy learn more »