.product-grid
    .container 
        .product-sidebar
            a(href="#").menu-btn 
                i.image.image-close 
                .btn-text Clear all
            a(href="#").menu-btn 
                i.image.image-fresh
                .btn-text Fresh
            a(href="#").menu-btn 
                i.image.image-frozen
                .btn-text Frozen
            .btn-group
                a(href="#").menu-btn 
                    i.image.image-service
                    .btn-text Self-service
                a(href="#").menu-btn 
                    i.image.image-daily
                    .btn-text Daily counter
        .product-grid-list
            .products-holder
                .single-product-box.eggs-product
                    .box-heading
                        h2.h2 Pintad e entière
                    .img-holder
                        img(src="assets/images/product1.jpg")
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                            a(href="#").fresh-type
                                img(src="assets/images/fresh.png", alt="fresh")
                                span Fresh
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.turkey-product
                    .box-heading
                        h2.h2 Poulet entier
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                            a(href="#").fresh-type
                                img(src="assets/images/fresh.png", alt="fresh")
                                span Fresh
                    .img-holder
                        img(src="assets/images/product2.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.hen-product
                    .box-heading
                        h2.h2 Blanc de dinde
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                            a(href="#").fresh-type
                                img(src="assets/images/fresh.png", alt="fresh")
                                span Fresh
                    .img-holder
                        img(src="assets/images/product2.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.eggs-product
                    .box-heading
                        h2.h2 Pintad e entière
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                            a(href="#").fresh-type
                                img(src="assets/images/fresh.png", alt="fresh")
                                span Fresh
                    .img-holder
                        img(src="assets/images/product1.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.turkey-product
                    .box-heading
                        h2.h2 Poulet entier
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                            a(href="#").fresh-type
                                img(src="assets/images/fresh.png", alt="fresh")
                                span Fresh
                    .img-holder
                        img(src="assets/images/product2.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.hen-product
                    .box-heading
                        h2.h2 Blanc de dinde
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                            a(href="#").fresh-type
                                img(src="assets/images/fresh.png", alt="fresh")
                                span Fresh
                    .img-holder
                        img(src="assets/images/product2.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.eggs-product
                    .box-heading
                        h2.h2 Pintad e entière
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                    .img-holder
                        img(src="assets/images/product1.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.turkey-product
                    .box-heading
                        h2.h2 Poulet entier
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                        .product-type
                            a(href="#").frozen-type
                                img(src="assets/images/frozen.png", alt="frozen")
                                span Frozen
                            a(href="#").fresh-type
                                img(src="assets/images/fresh.png", alt="fresh")
                                span Fresh
                    .img-holder
                        img(src="assets/images/product2.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
                .single-product-box.hen-product
                    .box-heading
                        h2.h2 Blanc de dinde
                    .add-info
                        p Here can be a small description of the product on the hover action for example.
                    .img-holder
                        img(src="assets/images/product2.jpg")
                    .box-footer
                        a(href="#").bnt-raggy Discover this product »
                        img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="image")
            .btn-holder
                .btn-row
                    button.bnt-raggy See more
                .btn-row
                    button.bnt-raggy.loading See more
