.recepties-grid
    .container
        .recepties-grid-list
            .recept-box.eggs-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de Eggs
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/eggs.svg", alt="recept-menu-images")
            .recept-box.turkey-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de Turkey
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/turkey.svg", alt="recept-menu-images")
            .recept-box.hen-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de Hen
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/hen.svg", alt="recept-menu-images")
            .recept-box.chicken-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de Chicken
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/chicken.svg", alt="recept-menu-images")
            .recept-box.duck-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de Duck
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/duck.svg", alt="recept-menu-images")
            .recept-box.guinea-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de Guinea fowl
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/guinea.svg", alt="recept-menu-images")
            .recept-box.goose-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de Goose
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/goose.png", alt="recept-menu-images")
            .recept-box.delicatessen-recept(style="background-image:url(assets/images/reciept-image1.jpg)")
                .box-heading
                    h2.h2 Cuisses de delicatessen
                .box-footer
                    dl
                        dt Difficulty
                        dd Easy
                        dt Preparation Time
                        dd 30 min.
                        dt Cooking Time
                        dd 20 min.
                    a(href="#").bnt-raggy Discover this product »
                    .bottom-decoration
                    img.product-image(src="assets/images/recept-menu-images/delicatessen.svg", alt="recept-menu-images")
        .btn-row
            button.bnt-raggy See more
        .btn-row
            button.bnt-raggy.loading See more
