svg#svgroot(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 300.2 309.8', style='enable-background:new 0 0 300.2 309.8;', xml:space='preserve')
  style(type='text/css').
    .st0{fill:#CAD434;}
  linearGradient(id="linear" x1="50%" y1="100%" x2="50%" y2="0%")
    stop(offset="0%" stop-color="#CAD434")     
    stop#point1(offset="1%" stop-color="#CAD434")  
    stop#point2(offset="2%" stop-color="rgba(202,212,52,0)")             
  g(transform='translate(0.000000,323.000000) scale(0.050000,-0.050000)')
    path(fill="url(#linear)" d='M3103.2,6445.7c0-97.5,6.8-191.5,6.8-192.2c0,0-0.5-4.7-2.1-13.9c-26.5-152.8-37.1-187.7-121.2-355\
    c-133-268-155-395-123-699c12-123,23-314,23-424c0-113,12-240,28-292c26-89,25-98-27-208c-151-319-326-369-792-226\
    c-286,88-332,78-554-132c-283-267-310-269-632-51c-555,375-1102-336-844-1097c72-210,168-345,477-667c435-453,567-647,664-973\
    c56-189,132-339,291-580c175-264,281-380,129-140c-184,289-311,550-370,760c-99,353-243,568-666,996c-401,406-490,564-525,934\
    c-38,403,77,656,364,802c197,99,297,75,563-135c199-157,323-141,554,74c220,205,268,217,550,139c456-127,635-76,781,219l74,148\
    l82-123c188-279,349-315,692-155c300,139,380,147,511,54c477-340,483-341,789-109c411,311,806,94,906-500c57-339-35-516-603-1157\
    c-274-310-443-535-557-742c-87-159-254-562-239-577c4-5,24,34,44,87c140,377,380,729,820,1206c526,570,631,764,603,1110\
    c-55,672-556,998-974,635c-282-244-347-243-697,12c-212,154-265,158-542,39c-418-179-570-137-751,208c-75,142-77,150-92,435\
    c-8,160-21,394-29,522c-19,314,3,395,170,637l118,175.9c9.1,13.5,26,280.1,25.8,296.3l-6.9,73.1L3103.2,6445.7z')
