/* banner-concept style */

.banner-concept {
	position: relative;
	background: url(../images/banner3.png) 37% -4%/cover no-repeat;
	background-size: auto 622px;
	overflow: hidden;
	@include media('<tablet') {
		background-position: 45% -40px;
		background-size: auto 244px;
	}
	.container {
		position: relative;
		max-width: 1125px;
		display: flex;
		justify-content: flex-end;
		@include media('<tablet') {
			padding: 0 5px;
		}
	}
	.banner-heading {
		font-family: $base-font-hobo;
		text-transform: uppercase;
		padding: 186px 0 211px;
		@include media('<tablet') {
			padding: 159px 0 29px;
			overflow: hidden;
		}
		.holder {
			display: flex;
			flex-direction: column;
			align-items: center;
			@include media('<tablet') {
				width: 50%;
				float: right;
			}
		}
		.h2 {
			font-size: 38px;
			line-height: 40px;
			margin: 0 0 12px;
			display: inline-block;
			@include media('<tablet') {
				font-size: 20px;
				line-height: 22px;
				margin: 0;
			}
		}
		.h3 {
			font-size: 58px;
			line-height: 60px;
			position: relative;
			display: inline-block;
			margin: 0 0 22px;
			@include media('<tablet') {
				font-size: 21px;
				line-height: 23px;
				margin: 0 0 15px;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: -11px;
				height: 2px;
				background: radial-gradient(#642200, rgba(100, 34, 0, 0) 100%);
				left: -10px;
				right: -10px;
				border-radius: 110%;
			}
		}
		span {
			font-size: 14px;
			line-height: 16px;
			@include media('<tablet') {
				font-size: 8px;
				line-height: 10px;
			}
		}
	}
	.block {
		margin: 0 0 111px;
		@include media('<desktop') {
			margin: 0 0 34px;
		}
	}
	.block.small {
		padding: 0 0 0 75px;
		@include media('<widescreen') {
			padding: 0 20px;
		}
		@include media('<tablet') {
			padding: 0 9px;
			margin: 0 0 18px;
		}
	}
	.img-holder {
		bottom: 0;
		position: absolute;
		left: -81%;
		z-index: 1;
		@include media('<1350px') {
			left: 0;
			transform: translateX(-100%);
		}
		@include media('<desktop') {
			position: relative;
			transform: translateX(0);
			margin: 0 0 30px;
		}
		@include media('<tablet') {
			padding: 0 54px;
			margin: 0 0 22px;
		}
	}
	.box-text {
		font-size: 21px;
		line-height: 25px;
		width: 57%;
		text-align: center;
		color: #642200;
		position: relative;
		@include media('<desktop') {
			width: 100%;
		}
		@include media('<tablet') {
			font-size: 14px;
			line-height: 16px;
		}
		p {
			margin: 0 0 30px;
			@include media('<tablet') {
				margin: 0 0 16px;
			}
			&:first-letter {
				font-weight: bold;
				font-size: 30px;
				@include media('<tablet') {
					font-size: 16px;
				}
			}
		}
	}
	.box-img {
		width: 38%;
		position: relative;
		z-index: 5;
		img {
			display: block;
			width: 100%;
		}
	}
	.h4 {
		font:31px/34px $base-font-hobo;
		@include media('<tablet') {
			font-size: 16px;
			line-height: 18px;
			margin: 0;
		}
	}
	.title {
		font:31px/32px $base-font-hobo;
		color: #c2cd23;
		display: block;
		margin: 0 0 35px;
		@include media('<tablet') {
			font-size: 16px;
			line-height: 18px;
			margin: 0 0 10px;
		}
	}
	.h5 {
		font:31px/32px $base-font-hobo;
		margin: 0 0 31px;
		@include media('<tablet') {
			font-size: 16px;
			line-height: 18px;
			margin: 0 0 9px;
		}
		&:before {
			@include media('<tablet') {
				display: none;
			}
		}
		span {
			color: #c2cd23;
		}
	}
	.decor-banner {
		position: absolute;
		right: 58%;
		top: -136px;
		max-width: 1150px;
		@include media('<desktop') {
			max-width: 340px;
			right: auto;
			left: -194px;
			top: -42px;
		}
	}
}