$green-light:#cfe849;
.home-banner {
    position: relative;
    color: $dark-red;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 2;
    mask-image: url('../images/home-banner-decoration.png');
    mask-size: 100% auto;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-position: 50% 100%;
    .chicken-image-holder {
        position: absolute;
        left: 371px;
        bottom:-178px;
        width: 382px;
        overflow: hidden;

        vertical-align: bottom;
        display: flex;
        align-items: flex-end;
        @include media('<1600px') {
            left: 318px;
            width: 241px;
        }
        @include media('<widescreen') {
            left: 226px;
            width: 200px;
        }
        @include media('<desktop') {
            width: 194px;
            left: 9px;
            transform: rotate(1deg) translate(0) !important;
        }
        @include media('<tablet') {
            transform: rotate(-3deg) translate(0) !important;
            bottom: 2px;
        }
        @include media('<tablet') {
            left: 4px;
            width: 115px;
        }
        img {
            width: 100%;
            vertical-align: bottom;
            height: auto;
        }
    }
    .chicken-photo-holder {
        position: absolute;
        left: 15px;
        bottom: -260px;
        width: 730px;
        z-index: -1;
    }
    .banner-img-holder {
        overflow: hidden;

    }
    .title-section {
        font-family: $base-font-hobo;
        position: absolute;
        right: 21.5%;
        top: 141px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        @include media('<1600px') {
            right: 15%;
            top: 100px;
        }
        @include media('<widescreen') {
            right: 8%;
            top: 80px;
        }
        @include media('<desktop') {
            top: 40px;
        }
        @include media('<tablet') {
            top: 100%;
            margin-top: 15px;
            right: 30%;
        }
        @include media('<phone') {
            right: 8%;
            top: 97%;
        }
        .h3 {
            font-size: 45px;
            margin-bottom: 17px;
            @include media('<1400px') {
                font-size: 45px;
                margin-bottom: 5px;
            }
            @include media('<widescreen') {
                font-size: 40px;
            }
            @include media('<desktop') {
                font-size: 35px;
            }
            @include media('<tablet') {
                font-size: 20px;
            }
        }
        .h2 {
            font-size: 66px;
            position: relative;
            display: inline-block;
            margin-bottom: 16px;
            padding-bottom: 13px;
            @include media('<1400px') {
                font-size: 55px;
                margin-bottom: 5px;
            }
            @include media('<widescreen') {
                font-size: 50px;
            }
            @include media('<desktop') {
                font-size: 40px;
                padding-bottom: 9px;
            }
            @include media('<tablet') {
                font-size: 30px;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                height: 2px;
                background: radial-gradient( rgba($dark-red, 1), rgba($dark-red, 0) 100%);
                left: -10px;
                right: -10px;
                border-radius: 110%;
            }
        }
        .note {
            font-size: 16px;
            display: block;
            @include media('<1400px') {
                font-size: 15px;
            }
            @include media('<tablet') {
              font-size: 8px;  
            }
        }
    }
    img {
        width: 100%;
        vertical-align: top;
        @include media('<desktop') {
            max-width: none;
            width: 115%;
            float: right;
        }
        @include media('<tablet') {
            width: 146%;
        }
    }
    .element-sky1 {
        position: absolute;
        top: 17%;
        left: 7%;
        background-image: url('../images/banner-sky1.png');
        width: 271px;
        height: 100px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        @include media('<widescreen') {
            width: 170px;
        }
        @include media('<tablet') {
            width: 150px;
            top: 5%;
        }
        @include media('<phone') {
            width: 100px;
            right: -50px;
        }
    }
    .element-sky2 {
        position: absolute;
        top: 13%;
        left: 34%;
        background-image: url('../images/banner-sky2.png');
        width: 126px;
        height: 64px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        @include media('<widescreen') {
            width: 70px;
        }
        @include media('<tablet') {
            width: 100px;
            top: 1%;
        }
        @include media('<phone') {
            width: 30px;
            top: 20px;
            left: 5%;
        }
    }
    .element-sky3 {
        position: absolute;
        top: 15%;
        right: 10%;
        background-image: url('../images/banner-sky3.png');
        width: 182px;
        height: 100px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        @include media('<widescreen') {
            width: 120px;
        }
        @include media('<tablet') {
            width: 120px;
            top: 8%;
        }
        @include media('<phone') {
            width: 40px;
            right: 0;
            top: 2%;
        }
    }
    .element-sun {
        position: absolute;
        top: 20%;
        left: 22%;
        background-image: url('../images/banner-sun.png');
        width: 123px;
        height: 100px;
        background-position: 50% 50%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        @include media('<widescreen') {
            width: 80px;
            top: 10%;
        }
        @include media('<tablet') {
            width: 80px;
            top: -22px;
            right: 0;
            left: auto;
            width: 60px;
        }
        @include media('<phone') {
            top: -46px;
            right: 13px;
            left: auto;
            width: 29px;
        }
    }
    .element-tree {
        position: absolute;
        bottom: 0;
        left: 51%;
        transform: translateX(-50%);
        background-image: url('../images/banner-tree.png');
        width: 354px;
        height: 500px;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        max-width: 18%;
        @include media('<widescreen') {
            width: 200px;
            max-width: 30%;
        }
        @include media('<desktop') {
            width: 170px;
        }
        @include media('<tablet') {
            right: 34px;
            bottom: 0px;
            max-width: 38%;
            left: auto;
            width: 203px;
            transform: translateX(0);
        }
        @include media('<phone') {
            right: 24px;
            bottom: 17px;
            max-width: 38%;
            left: auto;
            width: 100px;
        }
    }
}