.recept-banner {
    text-align: center;
    position: relative;
    &>img {
        width: 100%;
    }
    .filter-open-btn {
        display: none;
        align-items: center;
        font-size: 13px;
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
        font-family: $base-font-hobo;
        z-index: 999;
        .btn-decorate {
            margin-left: 15px;
            border: 3px solid $white;
            border-radius: 50%;
            background-color: #cbd428;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 29px;
            width: 40px;
            height: 40px;
        }
        @include media('<tablet') {
            position: absolute;
            right: 10px;
            top: 10px;
            display: flex;
            justify-content: flex-end;
        }
    }
    .recept-menu {
        max-width: 1200px;
        margin: 0 auto;
        @extend %listreset;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include animate(transform);
        @include media('<tablet') {
            position: absolute;
            top: 0px;
            left: 0;
            right: 0px;
            height: 100vh;
            background: $white;
            padding: 10px;
            flex-direction: column;
            z-index: 999;
            justify-content: flex-start;
            transform: translateY(-100%);
        }
        li {
            position: relative;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            color: $white;
            font-size: 16px;
            margin: 0;
            @include animate (margin);
            @include media('<tablet') {
                bottom: 0 !important;
                margin-bottom: 10px;
            }
            .text-mobile {
                display: none;
                color: #6b2a00;
                font-size: 12px;
                margin-right: 15px;
                text-transform: uppercase;
                font-family: $base-font-hobo;
                white-space: nowrap;
                background: rgba(#dcdcdc, .35);
                padding: 3px;
                box-shadow: 0px 0px 17px 0px rgba(220, 220, 220, 0.4);
                @include media('<tablet') {
                    display: block;
                    position: absolute;
                    right: calc(100% + 5px);
                    top: 50%;
                    text-align: right;
                    transform: translateY(-50%);
                }
            }
            &:hover,
            &.active {
                margin-bottom: -25px;
                @include media('<widescreen') {
                    margin-bottom: -20px;
                }
                @include media('<desktop') {
                    margin-bottom: -8px;
                }
                @include media('<tablet') {
                    margin-bottom: 10px;
                }
            }
            &:before {
                position: absolute;
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
                content: '';
                display: block;
                box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.98);
                border-radius: 50%;
                background: transparent;
            }
            .mask-wrapper {
                mask-image: url('../images/recept-menu-images/mask.png');
                mask-size: 100% 100%;
                mask-mode: alpha;
                mask-repeat: no-repeat;
                mask-position: 50% 50%;
                padding: 4px;
                background: $white;
                width: 112px;
                height: 112px;
                @include animate(margin width height);
                border-radius: 50%;
                @include media('<widescreen') {
                    width: 100px;
                    height: 100px;
                }
                @include media('<desktop') {
                    width: 95px;
                    height: 95px;
                }
                @include media('<tablet') {
                    width: 40px;
                    height: 40px;
                    padding: 2px;
                }
            }
            &:hover .mask-wrapper,
            &.active .mask-wrapper {
                margin-bottom: 0px;
                width: 162px;
                height: 162px;
                @include media('<widescreen') {
                    width: 140px;
                    height: 140px;
                }
                @include media('<desktop') {
                    width: 110px;
                    height: 110px;
                }
                @include media('<tablet') {
                    width: 40px;
                    height: 40px;
                    ;
                }
                a {
                    .text {
                        font-size: 24px;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        @include media('<desktop') {
                            font-size: 18px;
                        }
                    }
                }
            }
            a {
                width: 100%;
                height: 100%;
                mask-image: url('../images/recept-menu-images/mask.png');
                mask-size: 100% 100%;
                mask-mode: alpha;
                mask-repeat: no-repeat;
                mask-position: 50% 50%;
                padding: 10%;
                text-decoration: none;
                .img-holder {
                    @include media('<tablet') {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                }
                @include media('<tablet') {
                    display: flex;
                    align-items: center;
                }
                .text {
                    font-size: 16px;
                    @include animate(font-size);
                    @include media('<tablet') {
                        position: absolute;
                        right: calc(100% + 10px);
                        color: #6b2a00;
                    }
                }
                img {
                    width: 50%;
                    margin: 0 auto 10px;
                    @include media('<desktop') {
                        margin-bottom: 5px;
                    }
                    @include media('<tablet') {
                        width: 90%;
                        margin-bottom: 0;
                    }
                }
            }
            a {
                font-size: inherit;
                color: inherit;
                display: block;
                border-radius: 50%;
            }
            &.close {
                display: none;
                font-size: 29px;
                text-align: center;
                @include media('<tablet') {
                    display: block;
                }
                .mask-wrapper {
                    background: #cbd428;
                }
            }
            &.eggs {
                a {
                    background-color: #d89005;
                }
                bottom: -10px;
            }
            &.turkey {
                a {
                    background-color: #e6b02a;
                }
                bottom: -26px;
            }
            &.hen {
                a {
                    background-color: #aa0033;
                }
                bottom: -30px;
            }
            &.chicken {
                a {
                    background-color: #5b9ac7;
                }
                bottom: -34px;
            }
            &.duck {
                a {
                    background-color: #1a664a;
                }
                bottom: -37px;
            }
            &.guinea {
                a {
                    background-color: #910836;
                }
                bottom: -39px;
            }
            &.goose {
                a {
                    background-color: #9e361b;
                }
                bottom: -38px;
            }
            &.delicatessen {
                a {
                    background-color: #646dc3;
                }
                bottom: -30px;
            }
        }
    }
}

.filter-opened .recept-menu {
    transform: translateY(0);
}