/* single banner style */

.single-banner {
	position: relative;
	height: 525px;
	overflow: hidden;
	@include media('<desktop') {
		height: 350px;
	}
	@include media('<tablet') {
		height: 250px;
	}
	@include media('<phone') {
		height: 178px;
	}
	.title-holder {
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
		top: 180px;
		color: #fff;
		@include media('<desktop') {
			top: 62%;
			transform: translate(-50%,-50%);
		}
	}
	.subtitle {
		font-size: 19px;
		display: inline-block;
		position: relative;
		padding-top: 4px;
		@include media('<tablet') {
			font-size: 0;
		}
		&:after {
			content: '';
			position: absolute;
			top: -4px;
			height: 3px;
			background: linear-gradient(to right, rgba(203, 212, 40, 0.4) 0%, rgba(203, 212, 40, 0) 10%, #cbd428 20%, #cbd428 80%, rgba(203, 212, 40, 0) 90%, rgba(203, 212, 40, 0.4) 100%);
			left: -60px;
			right: -60px;
			border-radius: 110%;
			@include media('<tablet') {
				top: -15px;
			}
		}
	}
	h1 {
		font-size: 50px;
		font-family: "HoboStd", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 3px;
		@include media('<desktop') {
			font-size: 30px;
			line-height: 32px;
		}
		@include media('<tablet') {
			font-size: 16px;
			line-height: 18px;
		}
	}
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		max-width: none;
		min-width: 100%;
		width: auto;
		min-height: 105%;
		transform: translate(-50%,-50%);
	}
}