.present-section {
    position: relative;
    padding-top: 0px;
    .container {
        position: relative;
    }
    .root-holder {
        position: absolute;
        top: -31px;
        left: -29px;
        right: 0px;
        bottom: -25px;
        z-index: 99;
        background-size: 100% auto;
        background-image: url('../images/root.svg');
        background-repeat: no-repeat;
        @include media('<1500px') {
            left: 35px;
            right: 70px;
            top: -22px
        }
        @include media('<widescreen') {
          display: none;
        }
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -110px;
        left: 0;
        right: 0;
        top: 0;
        background-image: url('../images/decor04.png');
        background-size: 100% auto;
        background-position: 50% calc(100% + 60px);
        background-repeat: no-repeat;
        z-index: -1;
        @include media('<widescreen') {
            margin-bottom: 0px;
            bottom: -50px;
        }
    }
    .row {
        overflow: hidden;
        .single-text-box {
            text-align: center;
            width: 400px;
            margin-right: 12%;
            float: right;
            margin-bottom: 27px;
            @include media('<widescreen') {
                margin-bottom: 15px;
            }
            .capitalize {
                font-weight: 400;
                text-transform: capitalize;
            }
            .bnt-raggy {
                font-size: 25px;
                padding: 12px 29px 17px;
            }
            .h3 {
                font-family: $base-font-hobo;
                text-transform: uppercase;
                font-size: 31px;
                margin-bottom: 12px;
                p {
                    margin-bottom: 25px;
                }
                .small {
                    font-size: 21px;
                }
            }
        }
    }
    &:before {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        height: 110px;
        content: '';
        background-image: url('../images/home-banner-decoration.png');
        background-size: 100% auto;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        z-index: 0;
    }
    .chicken-photo-holder {
        position: absolute;
        left: 29px;
        top: -234px;
        width: 730px;
        z-index: 1;
        @include media('<1600px') {
            width: 500px;
            top: -180px;
            left: 94px;
        }
        @include media('<widescreen') {
            width: 440px;
            top: -180px;
            left: 17px;
        }
        @include media('<desktop') {
            left: -200px;
            transform: translate(0) !important;
        }
        @include media('<tablet') {
            left: -106px;
            width: 248px;
            top: -89px;
        }
    }
}

.accelerators-holder {
    text-align: center;
    padding-bottom: 180px;
    padding: 0 40px;
    min-height: 698px;
    position: relative;
    z-index: 100;
    @include media('<widescreen') {
        padding: 0;
        min-height:540px;
    }
    .owl-item img,
    img {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        @include animate(width 0.6s);
        @include media('<widescreen') {
            width: 70%;
            margin: 0 auto;
        }
    }
    .accelerator-element {
        position: relative;
        padding-top: 60px;
        @include media('<widescreen') {
            padding-top: 20px;
        }
        @include animate(padding-top .6s);
        &.active {
            padding-top: 0;
            .owl-item img,
            img {
                width: 301px;
                @include media('<widescreen') {
                    width: 80%;
                }
            }
            .circle-text {
                font-size: 31px;
                @include media('<widescreen') {
                    font-size: 22px;
                }
            }
            .image-farmer+.image-box {
                @include media('>=widescreen') {
                    top: 48px !important;
                    left: 7px
                }
            }
            .image-animal+.image-box {
                @include media('>=widescreen') {
                    top: 30px;
                    left: 15px;
                }
            }
            .image-nature+.image-box {
                @include media('>=widescreen') {
                    top: 26px;
                    left: 36px;
                }
            }
            .image-customer+.image-box {
                @include media('>=widescreen') {
                    top: 42px;
                    left: -6px;
                    transform: rotate(-12deg);
                }
            }
        }
        .collapse-text-box {
            padding-top: 15px;
            line-height: 1;
            font-size: 21px;
            @include media('<widescreen') {
                font-size: 18px;
                padding: 10px;
            }
            p {
                margin-bottom: 15px;
                &:first-letter {
                    font-size: 31px;
                    line-height: 1;
                }
            }
        }
        .h5 {
            margin-bottom: 0;
        }
        .circle-text {
            margin-bottom: 0;
            font-size: 21px;
            font-weight: 400;
            font-family: $base-font-hobo;
            margin-bottom: -10px;
            @include animate(font-size .6s);
        }
        .image-box {
            position: absolute;
            top: 17px;
            left: 63px;
            width: 50px;
            height: auto;
            transform: rotate(-9deg);
            @include media('<widescreen') {
                width: 40px;
            }
        }
        .image-farmer+.image-box {
            position: absolute;
            top: 28px;
            left: 40px;
            width: 50px;
            height: auto;
            transform: rotate(-16deg);
            @include media('<widescreen') {
                top: 30px;
                left: 20px;
            }
        }
        .image-animal+.image-box {
            position: absolute;
            top: 14px;
            left: 44px;
            width: 45px;
            @include media('<widescreen') {
                top: 17px;
                left: 34px;
            }
        }
        .image-nature+.image-box {
            position: absolute;
            top: 9px;
            left: 61px;
            width: 33px;
            @include media('<widescreen') {
              top: 12px;
              left: 43px;
            }
        }
        .image-customer+.image-box {
            top: 22px;
            left: 30px;
            width: 50px;
            height: auto;
            transform: rotate(-16deg);
            @include media('<widescreen') {
              top: 26px;
              left: 14px;
            }
        }
        .headind-img-holder {
            transform: rotate(10deg);
            transform-origin: 50% 50%;
        }
    }
}