.prefooter-slider {
    background-image: url(../images/recepie-detail-prefooter-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-top: 12px;
    @include media('<widescreen') {
        background-size: 150% auto;
    }
    @include media('<desktop') {
        background-size: 150% auto;
    }
    @include media('<phone') {
        padding-top: 46px;
        background-size: 170% auto;
    }
    .divider {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        @include media('<tablet') {
            padding-bottom: 32px;
        }
        img {
            @include media('<phone') {
                width: 200%;
                max-width: none;
            }
        }
    }
    .container {
        max-width: 990px;
        margin: 0 auto;
    }
    .slider-menu {
        margin-bottom: 0;
        .prev.slick-arrow {
            left: 0;
        }
        .next.slick-arrow {
            right: 0;
        }
        @include media('<tablet') {
            margin: 0 auto;
            padding: 0 20%;
        }
        @include media('<phone') {
            padding-left: 19%;
            padding-right: 19%;
        }
        .eggs-bg-color {
            background-color: #d89005;
            border-color: #d89005;
        }
        .turkey-bg-color {
            background-color: #e6b02a;
            border-color: #e6b02a;
        }
        .hen-bg-color {
            background-color: #aa0033;
            border-color: #aa0033;
        }
        .chikcen-bg-color {
            background-color: #5b9ac7;
            border-color: #5b9ac7;
        }
        .duck-bg-color {
            background-color: #1a664a;
            border-color: #1a664a;
        }
        .guinea-bg-color {
            background-color: #910836;
            border-color: #910836;
        }
        .goose-bg-color {
            background-color: #9e361b;
            border-color: #9e361b;
        }
        .delicatessen-bg-color {
            background-color: #646dc3;
            border-color: #646dc3;
        }
    }
    .mask-holder {
        position: relative;
        z-index: 1;
        mask-image: url('../images/prefooter-slider-mask.png');
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        margin: -3px;
    }
    .item {
        background-color: rgba($white, .84);
        border-width: 11px;
        border-style: solid;
        mask-image: url('../images/prefooter-slider-mask.png');
        mask-mode: alpha;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        img {
            width: 100%;
        }
    }
    .title-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($white, .84);
        padding: 8px 15px 15px;
        font-size: 20px;
        font-family: $base-font-hobo;
        text-align: center;
        min-height: 64px;
        @include media('<tablet') {
            padding: 3px 15px 3px;
            font-size: 15px;
            min-height: 0;
        }
        @include media('<phone') {
            font-size: 12px;
        }
    }
    .button-row {
        padding: 34px 0 58px;
        text-align: center;
        @include media('<tablet') {
            padding: 0 0 39px;
        }
        a {
            @include media('<tablet') {
                display: none;
            }
        }
        a {
            min-width: 330px;
        }
    }
}

.h2-decorated {
    color: #642200;
    font-size: 36px;
    text-align: center;
    font-family: $base-font-hobo;
    padding-bottom: 22px;
    margin-bottom: 109px;
    letter-spacing: 7px;
    transform: translateX(-7px);
    @include media('<desktop') {
        font-size: 24px;
        margin-bottom: 50px;
        letter-spacing: 4px;
    }
    @include media('<tablet') {
        font-size: 17px;
        margin-bottom: 11px;
        letter-spacing: 3px;
    }
    @include media('<phone') {
        letter-spacing: 0;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0px;
        height: 4px;
        background: radial-gradient( rgba($dark-red, 1), rgba($dark-red, 0) 100%);
        left: -10px;
        right: -10px;
        border-radius: 110%;
        width: 55%;
        margin: 0 auto;
        @include media('<tablet') {
            display: none;
        }
    }
}