/* slider video style */

.slider-video-wrap {
	padding: 27px 0 69px;
	background: #c2cd23 url(../images/decor16.png) 0 0/cover no-repeat;
	.heading {
		color: #fff;
		text-align: center;
		margin: 0 0 65px;
		.h3 {
			font-size: 39px;
			line-height: 41px;
		}
	}
	.container {
		max-width: 1180px;
	}
}

.slider-video {
	padding: 0 75px;
	.slick-slide {
		padding: 0 15px;
		position: relative;
		&:focus {
			outline: none;
		}
		&:hover {
			.play-btn {
				transform: scale(1.1);
			}
		}
		img {
			width: 100%;
		}
	}
	.play-btn {
		@include animate(transform);
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -37px 0 0 -37px;
	}
	.next,
	.prev {
		@include animate(opacity);
		width: 60px;
		height: 35px;
		position: absolute;
		left: 17px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		@include media('<tablet') {
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			width: 50px;
			height: 50px;
			border-radius: 100px;
			background: #e0e691;
			left: -10px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			&:before {
				content: '\e906';
			}
		}
		&:hover {
			opacity: .8;
		}
		img {
			@include media('<tablet') {
				display: none;
			}
		}
	}
	.next {
		left: auto;
		right: 17px;
		transform: scale(1, -1) translate(0, 50%);
		@include media('<tablet') {
			right: -10px;
			&:before {
				content: '\e905';
			}
		}
	}
}

.fancybox-slide:before {
	display: none;
}

.title-video {
	background: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font: 36px/38px $base-font-sans-serif;
	@include media('<tablet') {
		font: 24px/26px $base-font-sans-serif;
	}
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.fancybox-inner {
	max-width: 1200px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 1px;
	max-height: 67%;
	height: 100%;
}

.fancybox-caption {
	border: none;
	background: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	order: 3;
	@include media('<tablet') {
		display: none;
	}
}

.video-info {
	font: 27px/30px $base-font-sans-serif;
	color: #fff;
	display: block;
	padding: 15px 0 0;
	@include media('<tablet') {
		font: 16px/18px $base-font-sans-serif;
	}
}

.fancybox-bg {
	background: #000;
}

.fancybox-is-open {
	.fancybox-bg {
		opacity: .8;
	}
}

.fancybox-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fancybox-slide--iframe {
	.fancybox-content {
		margin: 22px 0 0 0;
		max-width: 1023px;
		max-height: 513px;
		border: 30px solid #848b18;
		@include media('<desktop') {
			border: 15px solid #848b18;
		}
		@include media('<tablet') {
			border: 5px solid #848b18;
		}
	}
}

.fancybox-toolbar {
	display: none;
}