/* slider-concept style */

.slider-concept {
	background: url(../images/decor15.png) 0 0/cover no-repeat;
	padding: 83px 0 0;
	margin: -87px 0 0;
	position: relative;
	@include media('<desktop') {
		margin: 0;
	}
	@include media('<tablet') {
		overflow: hidden;
		padding: 31px 0 0;
		background-position: 57% 0;
	}
	.tab-nav {
		@extend %listreset;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 36px;
		line-height: 38px;
		padding: 24px 0;
		@include media('<desktop') {
			font-size: 28px;
			line-height: 30px;
		}
		@include media('<tablet') {
			font-size: 15px;
			line-height: 17px;
			justify-content: space-between;
		}
		li {
			margin: 0 47px;
			@include media('<desktop') {
				margin: 0 20px;
			}
			@include media('<tablet') {
				margin: 0 11px;
			}
			&:last-child img {
				top: 65%;
				@include media('<tablet') {
					width: 35px;
					margin: 3px -9px 0 0;
				}
			}
		}
		a {
			@include animate(opacity);
			opacity: .5;
			position: relative;
			color: #fff;
			text-decoration: none;
			padding: 0 0 0 57px;
			@include media('<tablet') {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
				padding: 0;
			}
		}
		a.active {
			opacity: 1;
		}
		img {
			position: absolute;
			left: -11px;
			top: 50%;
			transform: translateY(-50%);
			@include media('<tablet') {
				width: 19px;
				position: relative;
				left: 0;
				top: 0;
				transform: translateY(0);
				margin: 0 5px 0 0;
			}
		}
	}
	.tab-content {
		.js-tab-hidden {
			height: 0;
			overflow: hidden;
		}
		> .active {
			height: auto;
		}
	}
	.img-box {
		border: 22px solid #d1bdb3;
		position: relative;
		@include media('<tablet') {
			width: 68%;
			margin: 0 auto;
			border-width: 5px;
		}
		&:before {
			@include animate(opacity);
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: rgba(209, 189, 179, .65);
			@include media('<tablet') {
				display: none;
			}
		}
		img {
			width: 100%;
		}
	}
	.text-box {
		@include animate(opacity);
		text-align: center;
		padding: 28px 15px 10px;
		opacity: 0;
		color: #fff;
		@include media('<tablet') {
			font-size: 14px;
			line-height: 16px;
			opacity: 1;
			padding: 15px 10px 17px;
			height: 94px;
		}
	}
}

.slider-tab {
	.slick-slide {
		padding: 0 15px;
		@include media('<tablet') {
			padding: 0;
		}
		&:focus {
			outline: none;
		}
	}
	.slick-center {
		.text-box {
			color: #fff;
			opacity: 1;
		}
		.img-box:before {
			opacity: 0;
		}
	}
	.next,
	.prev {
		@include animate(opacity);
		position: absolute;
		left: 18.5%;
		width: 50px;
		height: 30px;
		bottom: 52px;
		z-index: 10;
		cursor: pointer;
		@include media('<desktop') {
			left: 8%;
		}
		@include media('<tablet') {
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			width: 35px;
			height: 35px;
			border-radius: 100px;
			background: #bf927f;
			color: #fff;
			left: 9px;
			top: calc(50% - 47px);
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;
			&:before {
				content: '\e906';
			}
		}
		&:hover {
			opacity: 0.8;
		}
		img {
			@include media('<tablet') {
				display: none;
			}
		}
	}
	.next {
		left: auto;
		right: 18.5%;
		@include media('<desktop') {
			right: 8%;
		}
		@include media('<tablet') {
			right: 9px;
			&:before {
				content: '\e905';
			}
		}
	}
}